@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Saira+Extra+Condensed:800");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; }

html {
  height: 100%; }
  html body {
    height: 100%; }

h1 {
  margin-top: 20px;
  font-family: 'Saira Extra Condensed', sans-serif; }

.marginTop {
  margin-top: 20px; }

#index {
  height: 100%;
  background: url("../media/background.jpg");
  background-size: cover; }
  #index .content {
    width: 400px;
    padding: 20px;
    background: #e7e7e7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px; }
    #index .content h1 {
      text-transform: uppercase;
      color: #666;
      text-align: center;
      margin-bottom: 18px; }
    #index .content .form-group label {
      display: none; }
    #index .content .form-group input {
      height: 55px;
      font-size: 19px;
      text-align: center; }
      #index .content .form-group input[type='submit'] {
        text-transform: uppercase;
        font-weight: bold; }

#dashboard .resumeDay .panel-title {
  display: flex;
  background: #025aa5; }
  #dashboard .resumeDay .panel-title a {
    text-transform: uppercase;
    color: white;
    width: 100%;
    padding: 10px 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    flex: 3;
    border-right: 5px solid;
    border-radius: 0; }
  #dashboard .resumeDay .panel-title .delete_resume {
    flex: 1;
    color: white;
    align-self: center;
    text-align: center; }

#list .items .title {
  width: 100%;
  text-align: center;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 20px;
  margin: 10px;
  border-bottom: 1px solid;
  color: #666;
  padding-bottom: 10px; }

#list .items .panel-group {
  width: 100%; }
  #list .items .panel-group .content-resume {
    background: #e3e3e3;
    padding: 10px 20px; }
  #list .items .panel-group .panel-title {
    display: flex;
    width: 100%;
    background: #025aa5;
    text-align: center;
    text-decoration: none;
    color: white; }
    #list .items .panel-group .panel-title > a {
      flex: 3;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px;
      border-right: 5px solid; }
    #list .items .panel-group .panel-title > div {
      flex: 1;
      padding: 10px; }
