* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }
  html body {
    height: 100%; }

h1 {
  margin-top: 20px; }

.marginTop {
  margin-top: 20px; }

#index {
  height: 100%;
  background: url("../media/background.jpg");
  background-size: cover; }
  #index .content {
    width: 400px;
    padding: 20px;
    background: #e7e7e7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px; }
    #index .content h1 {
      text-transform: uppercase;
      color: #666;
      text-align: center;
      margin-bottom: 18px; }
    #index .content .form-group label {
      display: none; }
    #index .content .form-group input {
      height: 55px;
      font-size: 19px;
      text-align: center; }
      #index .content .form-group input[type='submit'] {
        text-transform: uppercase;
        font-weight: bold; }
